<div class="card card-side rounded-2xl bg-white h-40 shadow-search-card">
    <figure class="bg-card w-28 flex justify-center items-center">
        <img alt="Card Image" [src]="imgUrl" class="h-full">
    </figure>
    <div class="card-body p-3 pt-5">
        <span class="card-title text-base text-primary font-normal">{{ product }}</span>
        <span class="text-sm text-grey font-normal">{{ vendor }}</span>
        <span class="text-xs text-primary font-normal">{{ price }}</span>
        <div class="absolute bottom-3 right-3 w-32 h-10">
            <button class="btn px-3 py-2 uppercase bg-primary-btn rounded-lg text-white text-xs"
                (click)="addToWishlist(createProduct())">Add to wishlist</button>
        </div>
    </div>
</div>