<ng-container *ngIf="(accounts$ | async); else loading">
  <ul class="h-full flex flex-col list-none overflow-scroll bg-white gap-4 p-4">
    <li (click)="navigateToWishlist(account.accountId)" *ngFor="let account of (accounts$ | async)">
      <app-account-card [account]="account"/>
    </li>
  </ul>

</ng-container>
<ng-template #loading>
  <h2>Loading Accounts</h2>
</ng-template>
<p>accounts works!</p>
<button class="btn" onclick="search_modal.showModal()">open modal</button>
<app-search-modal/>
